@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Farsan&display=swap");

:root {
  --header-font: "Alkatra", sans-serif;
  --body-font: "Farsan", cursive;
  --primary-color: #c7cb85;
  --secondary-color: #7ea172;
  --tertiary-color: #502419;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* border: red 1px dashed; */
}

html {
  background-color: var(--primary-color);
}

nav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

nav {
  background-color: var(--tertiary-color);
  text-align: center;
  padding: 0.2rem;
  font-family: var(--header-font);
}

#menu-btn {
  font-size: 20px;
  align-items: center;
  padding-right: 10px;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.8rem 2vw;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 2em;
}

nav ul li a:hover {
  background-color: #fca311;
  color: #000000;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  font-family: var(--header-font);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

#output-container {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 20px;
  padding: 20px;
  font-family: var(--body-font);
  height: 400px;
  overflow-y: scroll;
}

#output-container h2 {
  font-family: var(--header-font);
  font-size: 6em;
  color: var(--tertiary-color);
  text-decoration: underline;
}

#output-container h3 {
  font-family: var(--header-font);
  font-size: 3em;
  color: var(--tertiary-color);
}

.card {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card p {
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--tertiary-color);
}

.footer-content {
  display: block;
  background-color: var(--tertiary-color);
  color: white;
  padding: 10px;
  padding-top: 0;
}
.footer-content div {
  font-size: 13px;
  text-align: center;
  align-self: center;
}
.base-footer {
  text-align: center;
  padding: 1.5rem 2vw;
  margin: 2rem;
}
.base-footer p {
  padding: 5px;
  color: #666;
}

#fruit-form {
  margin: 50px auto;
  width: 90%;
  max-width: 700px;
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#fruit-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--tertiary-color);
  font-family: var(--header-font);
}

#fruit-form input,
#fruit-form select,
#fruit-form textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  font-family: var(--body-font);
}

#fruit-form input:focus,
#fruit-form select:focus,
#fruit-form textarea:focus {
  box-shadow: 0px 0px 3px 2px #a3daff;
}

#fruit-form button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  background-color: var(--tertiary-color);
  border: none;
  color: white;
  font-family: var(--body-font);
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
}

#fruit-form button[type="submit"]:hover {
  background-color: var(--primary-color);
}

.fruit-select {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.fruit-select select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.fruit-select:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
}

.fruit-select select:focus + *:after {
  box-shadow: 0px 0px 3px 2px #a3daff;
}

.fruit-select select:focus + *:before {
  color: #a3daff;
  content: "\25bc";
  display: block;
  position: absolute;
  top: -15px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 20px;
  pointer-events: none;
}

.fruit-select select option {
  font-size: 16px;
}

#instructions {
  height: 100px;
}

#output {
  margin: 50px auto;
  width: 90%;
  max-width: 700px;
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#output h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--tertiary-color);
  font-family: var(--header-font);
}

#output p {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--tertiary-color);
  font-family: var(--body-font);
}

#output ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#output li {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--tertiary-color);
  font-family: var(--body-font);
}

#output li:first-child {
  margin-top: 10px;
}

#output li:last-child {
  margin-bottom: 10px;
}

#output button {
  display: block;
  margin: 20px auto 0;
  background-color: var(--tertiary-color);
  border: none;
  color: white;
  font-family: var(--body-font);
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
}

#output button:hover {
  background-color: var(--primary-color);
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 20px;
  padding: 20px;
  font-family: var(--body-font);
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  max-height: 500px;
}

.weather h2 {
  margin-bottom: 0;
  font-family: var(--header-font);
  font-size: 2em;
  color: var(--tertiary-color);
}

.weather h3 {
  margin-top: 1em;
  font-family: var(--header-font);
  font-size: 1.5em;
  color: var(--tertiary-color);
}

.weather h4 {
  margin: 0.5em 0;
  font-size: 1em;
  color: var(--tertiary-color);
}

.weather hr {
  width: 100%;
  margin: 1em 0;
  border: none;
  border-top: 1px solid #ccc;
}

.weather-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em 0;
}

.weather-div picture {
  margin-right: 1em;
}

.weather-div h2 {
  margin-right: 1em;
}

.forecast {
  display: flex;
  justify-content: space-between;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 1em;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.forecast-day h4 {
  font-size: 1em;
  color: var(--secondary-color);
}

.forecast-day h4 + picture {
  margin-top: 0.5em;
}

.forecast-day h4 + picture + h4 {
  margin-top: 0.5em;
}

.forecast-day img {
  max-width: 50px;
}
