@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Farsan&display=swap");

:root {
  --header-font: "Alkatra", sans-serif;
  --body-font: "Farsan", cursive;
  --primary-color: #c7cb85;
  --secondary-color: #7ea172;
  --tertiary-color: #502419;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* border: red 1px dashed; */
}

html {
  background-color: var(--primary-color);
}

nav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

nav {
  background-color: var(--tertiary-color);
  text-align: center;
  padding: 0.2rem;
  font-family: var(--header-font);
}

#menu-btn {
  font-size: 20px;
  align-items: center;
  padding-right: 10px;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.8rem 2vw;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: large;
}

nav ul li a:hover {
  background-color: #fca311;
  color: #000000;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  font-family: var(--header-font);
}

.footer-content {
  display: block;
  background-color: var(--tertiary-color);
  color: white;
  padding: 10px;
  padding-top: 0;
}
.footer-content div {
  font-size: 13px;
  text-align: center;
  align-self: center;
}
.base-footer {
  text-align: center;
  padding: 1.5rem 2vw;
  margin: 2rem;
}
.base-footer p {
  padding: 5px;
  color: #666;
}
