* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* border: red 1px dashed; */
}

nav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

nav {
  background-color: #14213d;
  text-align: center;
  padding: 0.2rem;
}

#menu-btn {
  font-size: 20px;
  align-items: center;
  padding-right: 10px;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.8rem 2vw;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: large;
}

nav ul li a:hover {
  background-color: #fca311;
  color: #000000;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}
