* {
  font-family: "ubuntu", sans-serif;
}

body {
  text-align: center;
  margin: 100px auto;
}

table {
  margin: 100px auto;
}

table tbody {
  text-align: center;
  margin: 100px auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -5px;
}

td,
th {
  font: 2em;
  padding: 10px;
}

thead {
  background: #fe4365;
  color: #fdf6e3;
}

tbody tr:nth-child(odd) {
  background: #ffa4a0;
}
tbody tr:nth-child(even) {
  background: #f9cdad;
}
tfoot {
  font-weight: bold;
}
